@font-face {
  font-family: AnimalCrossingFont;
  src: url(../font/nintendoP_Humming-E_002pr.otf);
}


Body {
  color:#7A5126;
  font-family: AnimalCrossingFont;
  margin: 0;
}


/* Location, Item Or Event In Blue   #00b5cb */
.Keyword {
  color: #0fa1c6;


}
/*Character or Villager Name in Orange/Yellow*/
.CharKeyword{
  color:#ef8b09;
}

/*Island Name In Pink*/
.IslKeyword {
  color:#fe7cc6;
}

/*Player Name in Green*/
.PlyrKeyword {
  color:#2bd656;
}



/*------------------------------- HOME SECTIONS ----------------------------*/
.HomeTab{
  display: flex-wrap;
  border-radius: 1em;
  margin-top: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.HomeTabHeader{
  display: flex;
align-items: center;
}

.SectionIcons {
  height:6vh;
  Margin: 5px;
}

.HomeTabBody {
  display: flex;

}

.HTHorizLine {
  height: 0em;
  border: 2px solid #f9c84b;
  flex: 1;
  border-radius: 0.25em;
  margin-right: 0.5em;
}

.HTVertLine {
  width: 0em;
  border: 2px solid #f9c84b;
  flex: 0;
  margin-left: 1.5em;
  border-radius: 0.25em;
  margin-bottom: 0.5em;
}

.BulletinLine {
    border-color: #feb92c;
    background-color: #feb92c ;
}


.IslandLine {
    border-color: #ad95d4;
    background-color: #ad95d4 ;
}

.ShoppingLine {
    border-color: #e9e12c;
    background-color: #e9e12c ;
}

.FashionLine {
    border-color: #f7b0b6;
    background-color: #f7b0b6 ;
}

.CritterLine {
  border-color: #f9c84b;
  background-color: #f9c84b ;
}

h2 {
margin: 10px;
font-size: 1.2em;
}

/*--------------------------------BULLETIN BOARD------------------------------*/
#BulletinBoardTab {
  background-color: #fecc83;

}

/*--------------------------------ISLAND LIFE 101-----------------------------*/
#IslandLifeTab {
  background-color: #b0b1e6;
}

#IslandContents {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-bottom: 2em;
}

#TipOfDay {
  margin-top: -1em;
  margin-bottom: 0.5em;
}

/*--------------------------------NOOK SHOPPING-------------------------------*/
#NookShoppingTab {
  background-color: #eae983;
}

#ShoppingContents {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-bottom: 0.5em;
}

#Promotion {
  margin-top: -1em;
  margin-bottom: 0.5em;
}

#ShoppingContents > * img {
  max-width: 35%;
  align-items: center;
}

/*#ShoppingContents > * p {
  background-color: #f4d62f;
}*/

.LeafIcon {
  max-width: 3.5em;
  max-height: 1.5em;
}

.Item {
display: flex;
flex-direction: row;
align-items: center;
flex: none;
  max-height: 1.6em;
  border-radius: 0.5em;
  background-color: #eff0be;
  margin-top: 0.5em;
}

.ItemText {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  margin: 0.3em;
  text-align: center;
}

.PriceText {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  margin: 0.3em;
  text-align: center;
}

/*--------------------------------ISLAND FASHION------------------------------*/
#IslandFashionTab {
  background-color: #f7c5d4;
}

#FashionContents {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-bottom: 2em;
}

#SeasonalCloth {
  margin-top: -1em;
  margin-bottom: 0.5em;
}

.FashionImages {
  display: flex;
  gap: 0em;
  flex: 1;
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
}


.FashionImages > *{
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.FashionImages > * p {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  margin: 0.3em;
  text-align: center;
}

.Price {
display: flex;
flex-direction: row;
align-items: center;
flex: none;
  max-height: 1.6em;
  border-radius: 0.5em;
  background-color: #eff0be;
}

.BellsIcon {
  max-width: 2em;
  max-height: 1.2em;
}

.FashionImages > * > * p.PriceText {
  font-size: 0.8em;
  margin-bottom: -0.1em;
}

.FashionImages > * img {
  max-width: 75%;
}


/*--------------------------------CRITTERPEDIA--------------------------------*/
#CritterpediaTab {
  background-color: #F9D795;
}


#CritterContents {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-bottom: 2em;
}

#CrittAvail {
  margin-top: -1em;
  margin-bottom: 0.2em;
}

#NH {
  color: #FF5F58;
  margin: 0.1em;
}

#SH {
  color: #58A5FF;
  margin: 0.1em;
  margin-top: 0.5em;
}


.CritterImages {
  display: flex;
  gap: 0.5em;
  flex: 1;
  width: 100%;
}


.CritterImages > *{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.CritterImages > * p {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  margin: -0.1em;
}


/*----------------------------BACK TO TOP--------------------------------*/
.BTTOuter {
  background-color: #f1f0d2;
  border-radius: 1em;
  padding: 0.2em;
  margin-top: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;

}

.BTTContent {
  background-color: #fdffef;
  border-radius: 1em;
  margin: 0.8em;
  padding: 0.2em;
}

.BTTtext {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color:#7A5126;
}


/*___________________________________________________________________________*/
/*__________________________ END OF HOME PAGE________________________________*/
/*___________________________________________________________________________*/


/*____________________________ MENU / NAVIGATION ____________________________*/

.BackHome {
max-width: 20%;
}

#MenuTitle {
}



/*___________________________________________________________________________*/
/*____________________________ END OF NAVIGATION _____________________________*/
/*___________________________________________________________________________*/


/*___________________________ BULLETIN BOARD HOME ____________________________*/

#Bulletin_Body {
  background-image: url("../img/Backgrounds/BulletinBoard_LeafBG.png");

}

.BackHome {
max-width: 20%;
}

#BulletinTitle {
  background-color: #f7f4e5;
  border-radius: 0.5em;
}

#BulletinIcon {
  max-width: 16%;
}

#BulletinIntro {
  background-color: #f7f4e5;
  border-radius: 2.5em;
}

#BulletinIntroText {
  margin: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

/*___________________________________________________________________________*/
/*______________________ END OF BULLETIN BOARD PAGE __________________________*/
/*___________________________________________________________________________*/




/*___________________________ ISLAND LIFE 101 HOME ___________________________*/


#IslandLife_Body {
  background-image: url("../img/Backgrounds/IslandLife_LeafBG.png");

}
#IslandLifeTitle {
  background-color: #f7f4e5;
  border-radius: 0.5em;
}

#IslandLifeIcon {
  max-width: 16%;
}

#IslandLifeIntro {
  background-color: #f7f4e5;
  border-radius: 2.5em;
}

#IslandLifeIntroText {
  margin: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

/*___________________________________________________________________________*/
/*______________________ END OF ISLAND LIFE 101 PAGE _________________________*/
/*___________________________________________________________________________*/





/*___________________________ NOOK SHOPPING HOME _____________________________*/

#Shopping_Body {
  background-image: url("../img/Backgrounds/NookShopping_LeafBG.png");

}

#ShoppingTitle {
  background-color: #f7f4e5;
  border-radius: 0.5em;
}

#ShoppingIcon {
  max-width: 16%;
}

#ShoppingIntro {
  background-color: #f7f4e5;
  border-radius: 2.5em;
}

#ShoppingIntroText {
  margin: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

/*___________________________________________________________________________*/
/*______________________ END OF NOOK SHOPPING PAGE __________________________*/
/*___________________________________________________________________________*/



/*___________________________ ISLAND FASHION HOME ____________________________*/

#Fashion_Body {
  background-image: url("../img/Backgrounds/IslandFashion_LeafBG.png");

}

#FashionTitle {
  background-color: #f7f4e5;
  border-radius: 0.5em;
}

#FashionIcon {
  max-width: 16%;
}

#FashionIntro {
  background-color: #f7f4e5;
  border-radius: 2.5em;
}

#FashionIntroText {
  margin: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

/*___________________________________________________________________________*/
/*______________________ END OF ISLAND FASHION PAGE __________________________*/
/*___________________________________________________________________________*/



/*____________________________ CRITTERPEDIA HOME _____________________________*/

#Critter_Body {
  background-image: url("../img/Backgrounds/Critterpedia_LeafBG.png");

}

#CrittTitle {
  background-color: #f7f4e5;
  border-radius: 0.5em;
}

#CritterIcon {
  max-width: 16%;
}

#CritterIntro {
  background-color: #f7f4e5;
  border-radius: 2.5em;
}

#CritterIntroText {
  margin: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

/*___________________________________________________________________________*/
/*______________________ END OF CRITTERPEDIA PAGE __________________________*/
/*___________________________________________________________________________*/
